.heading{
    margin: 0px;
    box-shadow: 3px 3px 3px gray;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    background-color: orange;
}

.note{
    color: black;
}

.copy_right_footer{
    text-align: center;
    width: 100%;
    line-height: 3;
    bottom: 0;
    background-color: grey;
    color: blueviolet;
    position: fixed;
    font-weight: bold;
    font-size: 20px;
}

canvas{
    border: 5px solid white;
   border-radius: 20px;
   box-shadow: 5px 5px 5px purple;
   
}